@import "./lugares.css";
body {
    padding-top: 151px;
}

.btn-default {
    background-color: #006;
    color: #fff;
}

.navbar-footer {
    background-color: #f6f6f6;
    margin-bottom: 0;
}
.cuerpo {
    min-height: calc(100vh - (80px+ 64px));
}
.cabecera-edificio {
    position: relative;
    box-sizing: border-box;
    max-height: 600px;
}
.cabecera-edificio .imagen-cabecera {
    width: 100%;
    z-index: -1;
}
.cabecera-edificio h1 {
    position: absolute;
    bottom: 0;
    left: .5em;
    z-index: 1;
    color: rgb(233, 233, 233);
}
.clear-right {
    clear: right;
}
.clear-left {
    clear: left;
}
.navbar-inverse {
    background-color: #2774ac;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: initial;
}
.navbar-brand {
    height: 128px;
}
.navbar-brand img {
    width: 170px;
    height: 87px;
}
.navbar-social {
    margin-right: 15px;
}
.navbar-social li {
    display: inline-block;
}
